<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>修改props中的值</title>
  <script src="../../js/Vue-2.5.17.js"></script>
</head>
<body>
<div id="app">
  <ul>
    <li v-for="item in list">
      {{item.name}}
    </li>
  </ul>
  {{message}}
  <com-a :list="list" :message="message"></com-a>
</div>

<script>
  Vue.component('com-a', {
    //list是一个引用类型，子组件改变了里面的值，不过没有改变引用地址，系统认为他没有引起父组件的值改变，于是就没有报错提示了。（会引起父组件的值发生变化，不妥）
    //message是一个值类型，子组件直接修改它的值会报错。
    props: ['list', 'message'],
    template: '<div><ul><li v-for="item in list">{{item.name}}</li></ul>{{message}}</div>',
    created () {
      this.list.forEach(item => {
        item.name += '被修改了'
        item.checked = false
      })
      this.message = 'Hello Vue.js'   //会报错
    }
  })

  new Vue({
    el: '#app',
    data: {
      list: [
        { id: 1, name: '张三', age: 34 },
        { id: 2, name: '李四', age: 44 },
        { id: 3, name: '王五', age: 15 },
        { id: 4, name: '赵六', age: 40 }
      ],
      message: 'Hello World'
    }
  })
</script>
</body>
</html>
