<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"
    />
    <title>html2canvas用法</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/qrcode@1.4.4/build/qrcode.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/jsqr@1.3.1/dist/jsQR.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.4/dist/html2canvas.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <style>
      * {
        margin: 0;
        padding: 0;
      }
      .post-wrap {
        position: relative;
      }
      .post-wrap > .detail {
        position: relative;
      }
      .post-wrap > .detail > .poster {
        width: 100%;
      }
      .post-wrap > .detail > div {
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        bottom: 15%;
        color: red;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <template v-if="!isAllRender">
        <div class="post-wrap" v-for="item of postList" :key="item.id">
          <div class="detail">
            <img class="poster" :src="item.poster" alt="" />

            <div>
              <span class="name">{{name}}</span>
              <img class="imgUrl" :src="item.imgUrl" alt="" />
            </div>
          </div>
        </div>
      </template>

      <template v-else> </template>
    </div>

    <script>
      new Vue({
        el: '#app',
        data: {
          name: 'huangkuiwei',
          qrCode: 'https://www.google.com',
          isAllRender: false,
          baseUrl: 'http://yzimgserver.oss-accelerate.aliyuncs.com/',
          postList: [
            {
              id: 1,
              imgUrl: undefined,
              poster:
                'https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3363295869,2467511306&fm=26&gp=0.jpg',
              isRender: false,
            },
            {
              id: 2,
              imgUrl: undefined,
              poster:
                'https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2827471950,3102544597&fm=26&gp=0.jpg',
              isRender: false,
            },
            {
              id: 3,
              imgUrl: undefined,
              poster:
                'https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2853553659,1775735885&fm=26&gp=0.jpg',
              isRender: false,
            },
          ],
        },
        async mounted() {
          // 将链接转化为二维码
          const base64 = await QRCode.toDataURL(this.qrCode, {
            format: 'image/png',
            width: 200,
          });
          this.postList.forEach((item) => (item.imgUrl = base64));

          // 为所有的图片添加 onload 事件
          const imgList = this.$el.querySelectorAll('img');
          const imgLoadedPromiseList = [...imgList].map((img) => {
            return new Promise((resolve) => {
              img.onload = () => {
                let scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
                console.log(scrollTop);
                resolve(scrollTop);
              };
            });
          });

          // 保证图片都已经渲染完毕再进行下一步操作
          const [scrollTop] = await Promise.all(imgLoadedPromiseList).catch(() => {});

          // 可防止生成的 canvas 因为页面的滚动，出现空白、缺失等奇葩问题
          document.body.style.position = 'fixed';
          document.body.style.top = `-${scrollTop}px`;

          const eleList = document.querySelectorAll('.post-wrap');

          for (let ele of eleList) {
            const canvas = await html2canvas(ele, { useCORS: true });
            document.body.appendChild(canvas);
          }

          // 样式还原
          document.body.style.position = '';
          document.body.style.top = '';
          this.isAllRender = true;
        },
      });
    </script>
  </body>
</html>
